# General
node_modules
.idea
npm-debug.log
.DS_Store

# Temp folders
coverage
tmp
build
src/views/templates.js
src/styles/font-awesome

# Common files
gulpfile.js
.jscsrc
.jshintrc
.npmignore
.jshintignore
