<div class="footer">
    <div class="footer-separator">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="footer-col-left">
        <div class="footer-text">
            <span class="fa fa-info-circle"></span>
            <span> If the customer pretends to pay, the company pretends to work.</span>
        </div>
    </div>
    <div class="footer-col-center">
        <div class="footer-links">
            <a ui-sref="root.home" ui-sref-active="footer-link-active">HOME</a>
            <a ui-sref="root.projects.list" ui-sref-active="footer-link-active">PROJECTS</a>
            <a ui-sref="root.about" ui-sref-active="footer-link-active">ABOUT</a>
            <a ui-sref="root.contact" ui-sref-active="footer-link-active">CONTACT</a>
            <a ui-sref="root.terms" ui-sref-active="footer-link-active">TERMS</a>
        </div>
        <span class="copyright">Copyright © {{ year }} Vlad Filip. All rights reserved.</span>
    </div>
    <div class="footer-col-right">
        <a href="https://github.com/vladfilipro" target="_blank"><span class="fa fa-github"></span></a>
        <a href="https://www.npmjs.com/~vladfilipro" target="_blank"><img src="/img/npm-logo.svg" /></a>
        <a href="https://www.linkedin.com/in/vlad-filip-847a2a48" target="_blank"><span class="fa fa-linkedin"></span></a>
        <a href="https://twitter.com/VladFilipRo" target="_blank"><span class="fa fa-twitter"></span></a>
    </div>
</div>
