<div class="header">
    <a href="/" class="header-button header-section header-section-minimenu">
        <span class="fa fa-navicon"></span>
    </a>
    <a href="/" class="header-section header-section-logo">
        <img src="/img/logo-inline-invert.svg" />
    </a>
    <div class="header-section header-section-space"></div>
    <a ui-sref="root.home" ui-sref-active="header-button-active" class="header-button header-section header-text">
        <span class="fa fa-home"></span>
        <span>HOME</span>
    </a>
    <a ui-sref="root.projects.list" ui-sref-active="header-button-active" class="header-button header-section header-text">
        <span class="fa fa-folder-open"></span>
        <span>PROJECTS</span>
    </a>
    <a ui-sref="root.monitoring" ui-sref-active="header-button-active" class="header-button header-section header-text">
        <span class="fa fa-line-chart"></span>
        <span>MONITOR</span>
    </a>
    <a ui-sref="root.contact" ui-sref-active="header-button-active" class="header-button header-section header-text">
        <span class="fa fa-envelope"></span>
        <span>CONTACT</span>
    </a>
    <a ui-sref="root.about" ui-sref-active="header-button-active" class="header-button header-section header-text">
        <span class="fa fa-user"></span>
        <span>ABOUT</span>
    </a>
</div>
<div class="menu">
</div>
